footer {
  color: #ffff;
  background: #1c3c59;
  padding: 20px 10%;
  .top {
    display: flex;
    justify-content: space-between;
    .left {
      img {
        width: 150px;
      }
    }
    .right {
      li {
        list-style-type: none;
        text-align: left;
      }
    }
  }
  .bottom {
    text-align: center;
  }
}
